.login,
.image {
  min-height: 100vh;
}

/* .bg-image {
  background-image: url('https://bf-sale.mdbgo.io/bf.png');
  background-size: cover;
  background-position: center center;
} */

.bg-image {
  background-image: url('../../../assets/others/bbps.jpeg');
  background-size: cover;
  background-position: center center;
}

.loginBox {
  /* background-color: rgb(255, 255, 255);
  opacity: .5;  */
  box-shadow: 20px 20px 20px 20px grey; 
  /* max-height: 800px; */
  /* background-color: transparent;  */
  opacity: .8;
  /* border: 2px solid green; */
  background-image: url('https://bf-sale.mdbgo.io/bf.png');
}

.main-image {
  background-image: url('https://www.bharatbillpay.com/images/slider/slider01.jpg');
  background-size: cover;
  background-position: center center;
}

mat-form-field{
  width: 100%;
  /* background-color: lightgray; */
}

