<nav class="navbar navbar-expand-lg nav">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">
            <img src="../../../assets/payspot/MainLogo.jpeg" width="75px;" height="75px;" alt="">
        </a> -->
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- <div class="collapse navbar-collapse" id="navbarColor01"> -->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                    <!-- <i class="fa fa-home"></i>&nbsp;  -->
                    Home
                    <!-- <span class="visually-hidden">(current)</span> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active">
                    <!-- <i class="fa fa-address-card"></i>&nbsp;  -->
                    About
                </a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle role="button">
                    Services Offered
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" *ngFor="let service of services">
                        <!-- <img class="icon" src="{{service.icon}}">&nbsp;{{service.serviceName}} -->
                        <img class="icon" src="../../../assets/others/{{service.icon}}">
                        &nbsp;{{service.serviceName}}
                        <!-- <small class="text-muted">{{service.serviceDescription}}</small> -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Explore More after login...</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact" routerLinkActive="active">
                    <!-- <i class="fa fa-address-book"></i>&nbsp;  -->
                    Contact Us
                </a>
            </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <!-- </div> -->
    </div>
</nav>